<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>rotations</key>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
				<key>w</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>-1</real>
				<key>z</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.78539816339</real>
			</dict>
			<dict>
				<key>x</key>
				<real>1</real>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<real>1</real>
				<key>w</key>
				<real>1.57079632679</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.6785983</real>
				<key>y</key>
				<real>0.6785983</real>
				<key>z</key>
				<real>-0.2810846</real>
				<key>w</key>
				<real>2.593564</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.8628561</real>
				<key>y</key>
				<real>0.3574067</real>
				<key>z</key>
				<real>-0.3574067</real>
				<key>w</key>
				<real>1.717772</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.8628561</real>
				<key>y</key>
				<real>0.3574067</real>
				<key>z</key>
				<real>-0.3574067</real>
				<key>w</key>
				<real>1.717772</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
				<key>w</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>1</real>
				<key>z</key>
				<integer>0</integer>
				<key>w</key>
				<real>2.35619449019</real>
			</dict>
			<dict>
				<key>x</key>
				<real>1</real>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<real>1</real>
				<key>w</key>
				<real>1.57079632679</real>
			</dict>
		</array>
		<key>positions</key>
		<array>
			<dict>
				<key>x</key>
				<real>-0.002</real>
				<key>y</key>
				<real>0.12</real>
				<key>z</key>
				<real>-0.015</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.002</real>
				<key>y</key>
				<real>0.21</real>
				<key>z</key>
				<real>-0.024</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.064</real>
				<key>y</key>
				<real>0.215</real>
				<key>z</key>
				<real>-0.082</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.128</real>
				<key>y</key>
				<real>0.217</real>
				<key>z</key>
				<real>-0.139</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.2</real>
				<key>y</key>
				<real>0.213</real>
				<key>z</key>
				<real>-0.08</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.27</real>
				<key>y</key>
				<real>0.225</real>
				<key>z</key>
				<real>-0.01</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.277</real>
				<key>y</key>
				<real>0.31</real>
				<key>z</key>
				<real>-0.002</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.27</real>
				<key>y</key>
				<real>0.4</real>
				<key>z</key>
				<real>0</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.211</real>
				<key>y</key>
				<real>0.405</real>
				<key>z</key>
				<real>0.064</real>
			</dict>
		</array>
		<key>orders</key>
		<array>
			<string>pipe</string>
			<string>pvcright</string>
			<string>pipe</string>
			<string>pvcright</string>
			<string>pipe</string>
			<string>pvcright</string>
			<string>pipe</string>
			<string>pvcright</string>
			<string>pipe</string>
		</array>
		<key>max_pieces</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>rotations</key>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
				<key>w</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
				<key>z</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.78539816339</real>
			</dict>
			<dict>
				<key>x</key>
				<real>1</real>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>-1</integer>
				<key>w</key>
				<real>1.57079632679</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.6785983</real>
				<key>y</key>
				<real>0.6785983</real>
				<key>z</key>
				<real>-0.2810846</real>
				<key>w</key>
				<real>2.593564</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>1</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>1</integer>
				<key>w</key>
				<real>1.57079632679</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>-1</integer>
				<key>z</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.78539816339</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
				<key>w</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<real>1</real>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>-1</integer>
				<key>w</key>
				<real>3.1415926536</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<real>1</real>
				<key>w</key>
				<real>1.57079632679</real>
			</dict>
		</array>
		<key>positions</key>
		<array>
			<dict>
				<key>x</key>
				<real>-0.002</real>
				<key>y</key>
				<real>0.12</real>
				<key>z</key>
				<real>-0.015</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.008</real>
				<key>y</key>
				<real>0.21</real>
				<key>z</key>
				<real>-0.025</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.06900000000000001</real>
				<key>y</key>
				<real>0.215</real>
				<key>z</key>
				<real>-0.08400000000000001</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.133</real>
				<key>y</key>
				<real>0.217</real>
				<key>z</key>
				<real>-0.14</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.2</real>
				<key>y</key>
				<real>0.215</real>
				<key>z</key>
				<real>-0.08</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.26</real>
				<key>y</key>
				<real>0.209</real>
				<key>z</key>
				<real>-0.025</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.266</real>
				<key>y</key>
				<real>0.13</real>
				<key>z</key>
				<real>-0.019</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.26</real>
				<key>y</key>
				<real>0.048</real>
				<key>z</key>
				<real>-0.022</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.17</real>
				<key>y</key>
				<real>0.041</real>
				<key>z</key>
				<real>-0.019</real>
			</dict>
		</array>
		<key>orders</key>
		<array>
			<string>pipe</string>
			<string>pvcright</string>
			<string>pipe</string>
			<string>pvcright</string>
			<string>pipe</string>
			<string>pvcright</string>
			<string>pipe</string>
			<string>pvcright</string>
			<string>pipe</string>
		</array>
		<key>max_pieces</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>rotations</key>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
				<key>w</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>-1</integer>
				<key>z</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.78539816339</real>
			</dict>
			<dict>
				<key>x</key>
				<real>1</real>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>1</integer>
				<key>w</key>
				<real>1.57079632679</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.28108463</real>
				<key>y</key>
				<real>0.6785983</real>
				<key>z</key>
				<real>-0.67859834</real>
				<key>w</key>
				<real>2.5935643</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
				<key>w</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1</integer>
				<key>z</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.78539816339</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>1</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>-1</integer>
				<key>w</key>
				<real>1.57079632679</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.35740677</real>
				<key>y</key>
				<real>-0.35740677</real>
				<key>z</key>
				<real>0.8628563</real>
				<key>w</key>
				<real>1.7177713</real>
			</dict>
			<dict>
				<key>x</key>
				<real>1</real>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<real>1</real>
				<key>w</key>
				<real>1.57079632679</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.70710677</real>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<real>-0.70710677</real>
				<key>w</key>
				<real>1.5707964</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.67859846</real>
				<key>y</key>
				<real>0.67859846</real>
				<key>z</key>
				<real>-0.2810847</real>
				<key>w</key>
				<real>1.0960565</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>-1</integer>
				<key>z</key>
				<integer>0</integer>
				<key>w</key>
				<real>3.9269908</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
				<key>w</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>positions</key>
		<array>
			<dict>
				<key>x</key>
				<real>-0.002</real>
				<key>y</key>
				<real>0.12</real>
				<key>z</key>
				<real>-0.015</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.002</real>
				<key>y</key>
				<real>0.21</real>
				<key>z</key>
				<real>-0.024</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.064</real>
				<key>y</key>
				<real>0.216</real>
				<key>z</key>
				<real>-0.082</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.123</real>
				<key>y</key>
				<real>0.225</real>
				<key>z</key>
				<real>-0.145</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.129</real>
				<key>y</key>
				<real>0.305</real>
				<key>z</key>
				<real>-0.147</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.123</real>
				<key>y</key>
				<real>0.39</real>
				<key>z</key>
				<real>-0.156</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.063</real>
				<key>y</key>
				<real>0.395</real>
				<key>z</key>
				<real>-0.212</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.006</real>
				<key>y</key>
				<real>0.398</real>
				<key>z</key>
				<real>-0.283</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.059</real>
				<key>y</key>
				<real>0.396</real>
				<key>z</key>
				<real>-0.343</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.117</real>
				<key>y</key>
				<real>0.393</real>
				<key>z</key>
				<real>-0.412</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.082</real>
				<key>y</key>
				<real>0.332</real>
				<key>z</key>
				<real>-0.459</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.041</real>
				<key>y</key>
				<real>0.279</real>
				<key>z</key>
				<real>-0.498</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.042</real>
				<key>y</key>
				<real>0.192</real>
				<key>z</key>
				<real>-0.495</real>
			</dict>
		</array>
		<key>orders</key>
		<array>
			<string>pipe</string>
			<string>pvcright</string>
			<string>pipe</string>
			<string>pvcright</string>
			<string>pipe</string>
			<string>pvcright</string>
			<string>pipe</string>
			<string>pvcright</string>
			<string>pipe</string>
			<string>pvcright</string>
			<string>pipe</string>
			<string>pvcangle</string>
			<string>pipe</string>
		</array>
		<key>max_pieces</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>rotations</key>
		<array>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
				<key>w</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>-1</integer>
				<key>z</key>
				<integer>0</integer>
				<key>w</key>
				<real>0.78539816339</real>
			</dict>
			<dict>
				<key>x</key>
				<real>1</real>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>1</integer>
				<key>w</key>
				<real>1.57079632679</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>0.57735026</real>
				<key>z</key>
				<real>-0.8164967</real>
				<key>w</key>
				<real>2.094395</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.91248703</real>
				<key>y</key>
				<real>0.15655802</real>
				<key>z</key>
				<real>-0.37796447</real>
				<key>w</key>
				<real>2.4188583</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.37796447</real>
				<key>y</key>
				<real>0.912487</real>
				<key>z</key>
				<real>-0.15655811</real>
				<key>w</key>
				<real>2.4188585</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>1</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>1</integer>
				<key>w</key>
				<real>1.57079632679</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.35740677</real>
				<key>y</key>
				<real>0.35740677</real>
				<key>z</key>
				<real>0.8628563</real>
				<key>w</key>
				<real>1.7177713</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.8628563</real>
				<key>y</key>
				<real>0.35740677</real>
				<key>z</key>
				<real>-0.35740677</real>
				<key>w</key>
				<real>1.7177713</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.2810847</real>
				<key>y</key>
				<real>0.6785984</real>
				<key>z</key>
				<real>-0.67859834</real>
				<key>w</key>
				<real>3.689621</real>
			</dict>
			<dict>
				<key>x</key>
				<integer>1</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
				<key>w</key>
				<real>1.570796326</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.57735026</real>
				<key>y</key>
				<real>-0.57735026</real>
				<key>z</key>
				<real>0.57735026</real>
				<key>w</key>
				<real>2.094395</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.57735026</real>
				<key>y</key>
				<real>0.57735026</real>
				<key>z</key>
				<real>-0.57735026</real>
				<key>w</key>
				<real>2.094395</real>
			</dict>
		</array>
		<key>positions</key>
		<array>
			<dict>
				<key>x</key>
				<real>-0.002</real>
				<key>y</key>
				<real>0.12</real>
				<key>z</key>
				<real>-0.015</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.002</real>
				<key>y</key>
				<real>0.21</real>
				<key>z</key>
				<real>-0.024</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.064</real>
				<key>y</key>
				<real>0.216</real>
				<key>z</key>
				<real>-0.082</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.118</real>
				<key>y</key>
				<real>0.223</real>
				<key>z</key>
				<real>-0.147</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.082</real>
				<key>y</key>
				<real>0.278</real>
				<key>z</key>
				<real>-0.194</real>
			</dict>
			<dict>
				<key>x</key>
				<real>0.036</real>
				<key>y</key>
				<real>0.338</real>
				<key>z</key>
				<real>-0.228</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.024</real>
				<key>y</key>
				<real>0.342</real>
				<key>z</key>
				<real>-0.173</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.091</real>
				<key>y</key>
				<real>0.344</real>
				<key>z</key>
				<real>-0.121</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.155</real>
				<key>y</key>
				<real>0.34</real>
				<key>z</key>
				<real>-0.175</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.215</real>
				<key>y</key>
				<real>0.344</real>
				<key>z</key>
				<real>-0.235</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.215</real>
				<key>y</key>
				<real>0.34</real>
				<key>z</key>
				<real>-0.32</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.208</real>
				<key>y</key>
				<real>0.343</real>
				<key>z</key>
				<real>-0.404</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-0.123</real>
				<key>y</key>
				<real>0.34</real>
				<key>z</key>
				<real>-0.413</real>
			</dict>
		</array>
		<key>orders</key>
		<array>
			<string>pipe</string>
			<string>pvcright</string>
			<string>pipe</string>
			<string>pvcright</string>
			<string>pipe</string>
			<string>pvcright</string>
			<string>pipe</string>
			<string>pvcright</string>
			<string>pipe</string>
			<string>pvcangle</string>
			<string>pipe</string>
			<string>pvcright</string>
			<string>pipe</string>
		</array>
		<key>max_pieces</key>
		<integer>13</integer>
	</dict>
</array>
</plist>
